header{
    text-align: right;
    background-color:#86469C;
    width: 100%;
    padding: 10px;
    word-spacing: 15px;
}

.navbar a{
    text-decoration-line:none;
    color:#FFCDEA;

}

.navbar a:hover {
    color:  #FB9AD1;
    text-decoration-line: none;
}

header form{
  float: left;
}

body{
  background-color: #BC7FCD;
}

h1{
  padding: 20px;
}



#x1{
  width: 21%;
  height: auto;
  float: left;
  padding: 30px;
  position: relative;
  left: 13%;
}

#x2{
  width: 15.5%;
  height: auto;
  float: left;
  padding: 30px;
  position: relative;
  left: 13%;
}
#x3{
  width: 26.2%;
  height: auto;
  float: left;
  padding: 30px;
  position: relative;
  left: 13%;
}

footer{
  padding: 10px;
  text-align: center;
  color: white ;
  background-color:#86469C;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  text-align: left;
}

.cp {
  display: block;
}